<section id="content">

<h2>Search</h2>
<form>
  <div class="form-group row">
    <label for="source" class="col-sm-2 form-control-label">Search By: </label>
    <div class="col-sm-10">
      <select ng-change="searchType()" ng-model="selectedSource" ng-options="x for x in searchTerm" class="form-control"></select>
    </div>
  </div>
  <div class="form-group-row">
    <div ng-show="textBox" class="col-sm-offset-2 col-sm-10 ng-hide">
    <input id="reqKeyword" name="keyword" ng-model="keyword" class="form-control" />
    </div>
    <div ng-show="numBox" class="col-sm-offset-2 col-sm-10 ng-hide">
    <input type="number" id="reqKeyword" name="keyword" ng-model="rating" class="form-control" />
    </div>
</div>
    <button ng-click="searchRecipes()">Submit</button>
  <div ng-show="message" class="ng-hide">
    <h3>No results returned.</h3>
  </div>
  <div ng-repeat="recipe in recipes | orderBy:'-date_made':reverse">
    <div>
      <p class="citations" ng-click="showRecipe(recipe._id)">{{recipe.title}}</p>
      <modal-dialog show='recipe.dialogShown' dialog-title='{{recipe.title}}'>
        <p ng-if="recipe.source == 'URL'">Citation: <a href="{{recipe.citation}}" target="_blank">{{recipe.citation}}</a></p>
        <p ng-if="recipe.source != 'URL'">Citation: {{recipe.citation}}</p>
        <p>Main Ingredient(s): {{mainIngred}}</p>
        <p>Date made: {{recipe.date_made | date: 'MM/dd/yyyy'}}</p>
        <p>Rating: {{recipe.rating}}</p>
      </modal-dialog>
</div>


</section>
